<%=  erb :defaultheader %>

<body>
    <p suck><%= @final[0] %></p>
    <p suck><%= @final[1] %></p>
    <p suck><%= "You will be leaving on " + @final[2] + "." %></p>
    <p suck><%= "You will be returning on " + @final[3] + "." %></p>
    <p suck><%= @final[4] %></p>
    <p suck><%= @final[5] %></p>
</body>
